/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #fff; /* Початковий фон для світлої теми */
  color: #000; /* Початковий текстовий колір */
  font-family: "IntelClearRegular", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Для фіксованих елементів */
img, picture, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, select, textarea {
  font: inherit;
}

/* Додаємо клас для заголовків та важливих елементів */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

button {
  border: none;
}
