@import "tailwindcss";
@import url('./assets/css/reset.css');
@import url('./assets/css/typography.css');

@font-face {
  font-family: "IntelClearBold";
  src: url("/font/intel-clear/IntelClear_Bd.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IntelClearItalic";
  src: url("/font/intel-clear/IntelClear_It.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "IntelClearLightItalic";
  src: url("/font/intel-clear/IntelClear_LtIt.ttf") format("truetype");
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: "IntelClearProBold";
  src: url("/font/intel-clear/IntelClearPro_Bd.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IntelClearBoldItalic";
  src: url("/font/intel-clear/IntelClear_BdIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IntelClearLight";
  src: url("/font/intel-clear/IntelClear_Lt.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "IntelClearRegular";
  src: url("/font/intel-clear/IntelClear_Rg.ttf") format("truetype");
  font-weight: normal;
}

/* Змінні для світлої теми */
[data-theme="light"] {
  --is-dark: 0;
  --is-light: 1;
  --text-color: #000;
  --bg-color: #fff;
}

/* Змінні для темної теми */
[data-theme="dark"] {
  --is-dark: 1;
  --is-light: 0;
  --text-color: #fff;
  --bg-color: #000;
}

:root {
  --link-color: #64c36c;
  --accent: #C5D435;
  --text-color-gray: #7d7d7d;
  --gradient-bg: linear-gradient(0deg, #cfd71d, #0bb2ac);
  --gradient-bg-45: linear-gradient(45deg, #cfd71d, #0bb2ac);
  --header-height: max(80px);
  --footer-height: max(400px);
  color: var(--text-color);
}

/* Базові стилі */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  cursor: pointer;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
}

a:hover {
  color: var(--link-color);
}

button {
  color: var(--text-color);
}

button:hover {
  background-color: var(--bg-color-hover);
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
}

footer {
  height: var(--footer-height);

  background: var(--text-color);
  color: var(--bg-color);
}

.text-neutral {
  color: var(--text-color-gray);
}