@import url('./assets/css/reset.css');
@import url('./assets/css/typography.css');
@import url('./assets/css/utility.css');

/* Змінні для світлої теми */
[data-theme="light"] {
  --is-dark: 0;
  --is-light: 1;
  --text-color: #000;
  --bg-color: #fff;
  --link-color: #64c36c;
  --bg-color-hover: #C5D435;
  --icon-color: #000;
  --icon-border-color: #000;
  --gradient-bg: linear-gradient(45deg, #cfd71d, #0bb2ac);
}

/* Змінні для темної теми */
[data-theme="dark"] {
  --is-dark: 1;
  --is-light: 0;
  --text-color: #fff;
  --bg-color: #000;
  --link-color: #64c36c;
  --bg-color-hover: #C5D435;
  --icon-color: #fff;
  --icon-border-color: #000;
  --gradient-bg: linear-gradient(45deg, #cfd71d, #0bb2ac);
}

:root {
  --header-height: max(80px);
  --footer-height: max(400px);
  --text-color-gray: #7d7d7d;
  color: var(--text-color);
}

/* Базові стилі */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  cursor: pointer;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
}

a:hover {
  color: var(--link-color);
}

button {
  color: var(--text-color);
}

button:hover {
  background-color: var(--bg-color-hover);
}

.icon {
  color: var(--icon-color);
  border-color: var(--icon-border-color);
}

.gradient-block {
  background: var(--gradient-bg);
}

header {
  height: var(--header-height);
}

main {
  height: calc(100dvh - var(--header-height) - var(--footer-height));
}

footer {
  position: sticky;
  bottom: 0;
  height: var(--footer-height);

  background: var(--text-color);
  color: var(--bg-color);
}