@import "tailwindcss";
@import url('./assets/css/reset.css');
@import url('./assets/css/typography.css');

@font-face {
  font-family: "IntelClearBold";
  src: url("./assets/font/intel-clear/IntelClear_Bd.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IntelClearItalic";
  src: url("./assets/font/intel-clear/IntelClear_It.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "IntelClearLightItalic";
  src: url("./assets/font/intel-clear/IntelClear_LtIt.ttf") format("truetype");
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: "IntelClearProBold";
  src: url("./assets/font/intel-clear/IntelClearPro_Bd.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IntelClearBoldItalic";
  src: url("./assets/font/intel-clear/IntelClear_BdIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IntelClearLight";
  src: url("./assets/font/intel-clear/IntelClear_Lt.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "IntelClearRegular";
  src: url("./assets/font/intel-clear/IntelClear_Rg.ttf") format("truetype");
  font-weight: normal;
}

/* Змінні для світлої теми */
[data-theme="light"] {
  --is-dark: 0;
  --is-light: 1;
  --text-color: #000;
  --text-color-50: #0000007d;
  --bg-color: #fff;
  --bg-color-50: #ffffff7d;
}

/* Змінні для темної теми */
[data-theme="dark"] {
  --is-dark: 1;
  --is-light: 0;
  --text-color: #fff;
  --text-color-50: #ffffff7d;
  --bg-color: #000;
  --bg-color-50: #0000007d;
}

:root {
  --link-color: #64c36c;
  --accent: #C5D435;
  --text-color-gray: #7d7d7d;
  --text-color-gray-50: #7d7d7d7d;
  --text-color-gray-25: #7d7d7d40;
  --gradient-bg: linear-gradient(0deg, #cfd71d, #0bb2ac);
  --gradient-bg-13: linear-gradient(13deg, #cfd71d, #0bb2ac);
  --gradient-bg-45: linear-gradient(45deg, #cfd71d, #0bb2ac);
  --gradient-bg-225: linear-gradient(225deg, #cfd71d, #0bb2ac);
  --header-height: max(80px, 5rem);
  --footer-height: max(400px, 25rem);
  font-family: "IntelClearRegular";
  color: var(--text-color);
}

@media (max-width: 820px) {
  :root {
    font-size: 1.75vw;
  }
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--text-color-gray);
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
	background: linear-gradient(0deg, var(--text-color), var(--bg-color));
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

::-webkit-scrollbar-track:hover {
	background: var(--bg-color);
}

::selection {
	background: var(--text-color);
	color: var(--bg-color);
}

::-moz-selection {
	background: var(--text-color);
	color: var(--bg-color);
}

::-webkit-selection {
	background: var(--text-color);
	color: var(--bg-color);
}

/* Базові стилі */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  cursor: pointer;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
}

a:hover {
  color: var(--link-color);
}

button {
  color: var(--text-color);
}

button:hover {
  background-color: var(--bg-color-hover);
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
}

footer {
  height: var(--footer-height);

  background: var(--text-color);
  color: var(--bg-color);
}

.text-neutral {
  color: var(--text-color-gray);
}

@keyframes appearance {
  from { opacity: 0 }
  to {opacity: 1 }
}

@keyframes top-text {
  from {
    transform: translateY(-75vh);
    -webkit-transform: translateY(-75vh);
    -moz-transform: translateY(-75vh);
    -ms-transform: translateY(-75vh);
    -o-transform: translateY(-75vh);
}
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes bottom-text {
  from {
    transform: translateY(75vh);
    -webkit-transform: translateY(75vh);
    -moz-transform: translateY(75vh);
    -ms-transform: translateY(75vh);
    -o-transform: translateY(75vh);
}
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.top-text {
  transform: translateY(-75vh);
  -webkit-transform: translateY(-75vh);
  -moz-transform: translateY(-75vh);
  -ms-transform: translateY(-75vh);
  -o-transform: translateY(-75vh);
  opacity: 0;
  animation: top-text 1s ease-out forwards, appearance 1s linear forwards;
  -webkit-animation: top-text 1s ease-out forwards, appearance 1s linear forwards;
}

.bottom-text {
  transform: translateY(75vh);
  -webkit-transform: translateY(75vh);
  -moz-transform: translateY(75vh);
  -ms-transform: translateY(75vh);
  -o-transform: translateY(75vh);
  opacity: 0;
  animation: bottom-text 1s ease-out forwards, appearance 1s linear forwards;
  -webkit-animation: bottom-text 1s ease-out forwards, appearance 1s linear forwards;
}